extends layout

block content
	div.row
		div.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
			div#alerts
			div#ractiveHook
				div.jumbotron
					div.container
						h1
							|Hello you
						button.btn.btn-primary(disabled)
							|Punch In...
			

block scripts
	script(src="//cdnjs.cloudflare.com/ajax/libs/ractive.js/0.3.6/ractive.js")
	script#template(type="text/ractive")
		{{^user}}
		div.jumbotron
			div.container
				h1
					|{{contentTitle}}
				button.btn.btn-primary(onclick="logIn()")
					|Identify
		{{/user}}
		{{#user}}
		div.panel.panel-default
			div.panel-heading
				h3.panel-title
					|Hello {{user.firstName}}
			div.panel-body
				h1
					|{{contentTitle}}
				{{^contentBody}}
				p.text-muted
					| {{contentBody}}
				{{/contentBody}}
			div.panel-footer
				button.btn.btn-danger.btn-sm(onclick="logOut()")
					|Make it stop
		{{/user}}
	script
		initInputPage();