extends layout

block link
	-var selected = 'Output'; //default

block content
	.row
		.col-sm-12
			h2 You worked  
				output#totalHours
					| 0.00
				|  hours!
	div.row
		div.col-sm-12
			canvas#display(style="width: 100% !important; height: auto !important;",width="1140",height="570")

block scripts
	script(src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js")
	script
		$(document).ready(function(){
			var t = new Date();
			t.setDate(t.getDate() - 7);
			$.ajax({
				url:'/range/'+t
			}).done(function(d){
				d = parseDataToChart(d);
				display(d);
			});
		});